<% issues.each do |issue| %>
    <% if (issue_category.nil? and issue.category_id.nil?) or (!issue_category.nil? and issue.category_id == issue_category.id) %>
        <a class="issue" href="/issues/<%= issue.id %>">
            <small>#<%= issue.id %> - <%= issue.priority %> - Assigned to <%= (!issue.assigned_to.nil?) ? issue.assigned_to : 'nobody' %></small><br />
            <%= issue.subject %>
        </a>
    <% end %>
<% end %>