<% content_for :header_tags do %>
    <link href='//fonts.googleapis.com/css?family=Coming+Soon&amp;v2' rel='stylesheet' type='text/css' />          
    <%= stylesheet_link_tag 'task_board.css', :plugin => 'redmine_task_board' %>
<% end %>

<div class="redmine_task_board">
    <h2><%= link_to @version.project.name, '/task_boards/index?project_identifier=' + @project.identifier.to_s %> &rarr; <%= @version.name %></h2>

    <table border="0" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th>Category</th>
                <th>To do</th>
                <th>In progress</th>
                <th>In QA</th>
                <th>Closed</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th valign="top">Uncategorised</th>
                <td valign="top"><%= render :partial => 'task_column', :locals => {:issue_category => nil, :issues => @issues_to_do} %></td>
                <td valign="top"><%= render :partial => 'task_column', :locals => {:issue_category => nil, :issues => @issues_in_progress} %></td>
                <td valign="top"><%= render :partial => 'task_column', :locals => {:issue_category => nil, :issues => @issues_to_verify} %></td>
                <td valign="top"><%= render :partial => 'task_column', :locals => {:issue_category => nil, :issues => @issues_closed} %></td>
            </tr>

            <% if !@issue_categories.nil? %>
                <% @issue_categories.each do |issue_category| %>
                    <tr>
                        <th valign="top"><%= issue_category.name %></th>
                        <td valign="top"><%= render :partial => 'task_column', :locals => {:issue_category => issue_category, :issues => @issues_to_do} %></td>
                        <td valign="top"><%= render :partial => 'task_column', :locals => {:issue_category => issue_category, :issues => @issues_in_progress} %></td>
                        <td valign="top"><%= render :partial => 'task_column', :locals => {:issue_category => issue_category, :issues => @issues_to_verify} %></td>
                        <td valign="top"><%= render :partial => 'task_column', :locals => {:issue_category => issue_category, :issues => @issues_closed} %></td>
                    </tr>
                <% end %>
            <% end %>
        </tbody>
    </table>
</div>